@media (min-width: 375px) {

    body {
        background-image: url(images/bg-header-mobile.png);
    }

    .btn {
        text-decoration: none;
        padding: 2.1rem 5.8rem 1.7rem 5.8rem;
        color: #fff;
        border-radius: 4rem;
        font-size: 1.7rem;
        font-weight: 700;
    } 

    p {
        font-size: 1.6rem;
    }

    /*HERO*/

    .hero__header {
        font-size: 3.2rem;
    }

        
    .hero-flex {
        display: flex;
        flex-direction: column;
        height: 13.8rem;
        justify-content: space-between;
        margin-bottom: 16.8rem;
    }
    
    .wrapper {
        padding: 12.8rem 3.2rem;
    }

    /*END HERO*/

    /*SNIPPETS*/
    .snippets-img {
        margin-bottom: 6.2rem;
    }

    .box--item-desc {
        padding: 0 1rem;
    }

    .snippets-section {
        margin-bottom: 15rem;
    }

    .workflow__header {
        margin-bottom: 2.4rem;
    }

    .workflow__desc {
        margin-bottom: 9.5rem;
    }

    .workflow-blacklist,
    .workflow-text,
    .workflow-preview {
        margin-bottom: 4.6rem;
    }

    .big-five {
        display: grid;
        grid-template-columns: 142px;
        grid-template-rows: repeat(5, 1fr);
        grid-row-gap: 64px;
        justify-content: center;
        margin-bottom: 15.5rem;
    }

    .footer {
        padding-top: 4.9rem;
        display: flex;
        flex-direction: column;
        height: 50rem;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 3.6rem;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
        height: 7.2rem;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .footer-link {
        text-decoration: none;
        color: hsl(210, 10%, 33%);
    }

    .footer-link:hover {
        color:hsl(171, 66%, 44%);
    }

    .social {
        display: flex;
        font-size: 3rem;
        width: 16rem;
        justify-content: space-between;
        align-items: center;
    }

    .social-link {
        color:hsl(210, 10%, 33%);
    }

    .social-link:hover {
        color:hsl(171, 66%, 44%);
    }

    .mac-flex {
        display: flex;
        flex-direction: column;
        height: 13.8rem;
        justify-content: space-between;
        margin-bottom: 4.8rem;
    }

}

@media (min-width: 480px) {
    
}

@media (min-width: 600px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1440px) {
    
}
