:root {
  /*Primary*/
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  /*Neutral*/
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

body {
  font-size: 1.8rem;
  color:var(--Dark-Grayish-Blue);
  background-image: url(images/bg-header-desktop.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 2.6rem;
}

p {
  color: var(--Grayish-Blue);
  margin-bottom: 5rem;
  line-height: 1.5;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 12.8rem 0;
  text-align: center;
}

img {
  width: 100%;
}

/*Buttons*/

.btn {
  text-decoration: none;
  padding: 2.2rem 7.8rem 1.8rem 7.8rem;
  color: #fff;
  border-radius: 4rem;
  font-size: 2rem;
  line-height: 1;
}

.btn-green {
  background-color: var(--Strong-Cyan);
  box-shadow: 0 3px hsl(171, 66%, 30%);
}

.btn-blue {
  background-color: var(--Light-Blue);
  box-shadow: 0 3px hsl(233, 100%, 30%);
}

/*END Buttons*/

/*HERO*/

.hero__header {
  font-size: 3.2rem;
}

.logo {
  margin-bottom: 7.4rem;
}


