:root {
  /*Primary*/
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Cyan: #5DCCBB;
  --Light-Blue: hsl(233, 100%, 69%);
  --Very-Light-Blue: #8896FF;
  /*Neutral*/
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
}

body {
  background-image: url(images/bg-header-mobile.png);
  font-size: 1.8rem;
  color:var(--Dark-Grayish-Blue);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 2.6rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 7rem;
}

p::not(p.atrribution) {
  color: var(--Grayish-Blue);
  margin-bottom: 5rem;
  line-height: 1.5;
}

.attribution { font-size: 11px; text-align: center; padding: 3rem; margin-bottom: 0;}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution a:hover { color: hsl(171, 66%, 44%); }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 12.8rem 0 0 0;
  text-align: center;
}

img {
  width: 100%;
}


/*Buttons*/
.btn {
  text-decoration: none;
  padding: 2.1rem 5.8rem 1.7rem 5.8rem;
  color: #fff;
  border-radius: 4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1;
}

.btn-green {
  background-color: var(--Strong-Cyan);
  border-bottom: 3px solid hsl(171, 66%, 30%);
}

.btn-green:hover {
  background-color: var(--Light-Cyan);
  border-bottom: 3px solid hsl(171, 66%, 45%);
  box-shadow: 0 5px 15px hsl(171, 66%, 75%);
}

.btn-blue {
  background-color: var(--Light-Blue);
  border-bottom: 3px solid hsl(233, 100%, 30%);
}

.btn-blue:hover {
  background-color: var(--Very-Light-Blue);
  border-bottom: 3px solid hsl(233, 100%, 70%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*END Buttons*/


.hero__header {
  font-size: 3.2rem;
}

.logo {
  margin-bottom: 7.4rem;
}

.hero-flex {
  display: flex;
  flex-direction: column;
  height: 13.8rem;
  justify-content: space-between;
  margin-bottom: 16.8rem;
}

.hero__desc {
  margin-bottom: 5.2rem;
}

.wrapper {
  padding: 12.8rem 3.2rem;
}

.snippets-img {
  margin-bottom: 6.2rem;
}

.box--item-desc {
  padding: 0 1rem;
}

.snippets-section {
  margin-bottom: 15rem;
}

.workflow__header {
  margin-bottom: 2.4rem;
}

.workflow__desc {
  margin-bottom: 9.5rem;
}

.workflow-blacklist,
.workflow-text,
.workflow-preview {
  margin-bottom: 4.6rem;
}

.big-five {
  display: grid;
  grid-template-columns: 142px;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 64px;
  justify-content: center;
  margin-bottom: 15.5rem;
}

.footer {
  background-color: #ECEDEE;
}

.footer-grid {
  padding-top: 4.9rem;
  display: grid;
  height: 50rem;
  justify-items: center;
  align-items: center;
}

.footer-logo {
  margin-bottom: 3.6rem;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  height: 7.2rem;
  justify-content: space-between;
  align-items: center;  
}

.footer-link {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

.footer-link:hover {
  color:hsl(171, 66%, 44%);
}

.social {
  display: flex;
  font-size: 3rem;
  width: 12rem;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  color:hsl(210, 10%, 33%);
}

.social-link:hover {
  color:hsl(171, 66%, 44%);
}

.mac-flex {
  display: flex;
  flex-direction: column;
  height: 13.8rem;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}

.mac__desc {
  margin-bottom: 5.2rem;
}